06-arrays/colors.txt

07-files/data/student_data.txt
07-files/data/films.txt
07-files/data/shopping.txt
07-files/data/copy.txt
07-files/data/copylines.txt
07-files/data/shoppinglist.txt
07-files/data/numbers_range.txt
07-files/data/3-digit_numbers_range.txt

08-dictionaries_stacks_and_queues/data/favourite.json